body{
    background-color: rgb(31, 31, 31);
}


h1 {
    text-align: center;
}

#galeria img {
    width: 32%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 2%;
    border: 10%;
}

#galeria {
    background-color: black;
}

